<nav class="navbar navbar-fixed-bottom" fxHide="false" fxHide.gt-sm>
  <nav md-tab-nav-bar fxFlex>
    <a md-tab-link
      routerLink="/home"
      routerLinkActive fxFlex>
      {{'homePage.title' | translate}}
    </a>
    <div>
      <a md-tab-link [mdMenuTriggerFor]="menu" fxFlex>
        {{'servicePage.title' | translate}}
      </a>
      <md-menu y-position="above" overlapTripper="true" #menu="mdMenu">
        <button md-menu-item><span>{{'servicePage.customWebsites.shortTitle' | translate}}</span></button>
        <button md-menu-item> {{'servicePage.appDev.shortTitle' | translate}} </button>
        <button md-menu-item> {{'servicePage.consulting.shortTitle' | translate}} </button>
      </md-menu>
    </div>
    <a md-tab-link
      routerLink="/about"
      routerLinkActive fxFlex>
      {{'aboutPage.title' | translate}}
    </a>
  </nav>
</nav>
