<nav class="navbar navbar-fixed-bottom" fxHide="false" fxHide.gt-sm>
  <nav md-tab-nav-bar fxFlex>
    <a md-tab-link
      routerLink="/home"
      routerLinkActive fxFlex>
      {{'homePage.title' | translate}}
    </a>
    <div>
      <a md-tab-link [mdMenuTriggerFor]="menu" fxFlex>
        {{'servicePage.title' | translate}}
      </a>
      <md-menu y-position="above" overlapTripper="true" #menu="mdMenu">
        <button md-menu-item routerLink="/services/website-design">{{'servicePage.customWebsites.fullTitle' | translate}} </button>
        <button md-menu-item routerLink="/services/application-development"> {{'servicePage.appDev.fullTitle' | translate}} </button>
        <button md-menu-item routerLink="/services/technical-consulting"> {{'servicePage.consulting.fullTitle' | translate}} </button>
      </md-menu>
    </div>
    <a md-tab-link
      routerLink="/about"
      routerLinkActive fxFlex>
      {{'aboutPage.title' | translate}}
    </a>
  </nav>
</nav>
