@import './../../../styles/variables';

#{$all-text-inputs} {
  border: 1px solid darken($light-gray-color, 5%);
  background: $white-color;
  padding: 0.618em 1em;
  box-shadow: none;
  min-height: 40px;
  width: 100%;
}
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  border: 1px solid darken($light-gray-color, 15%);
  outline: 0;
  box-shadow: none;
}
#{$all-text-inputs-active} {
  border: 1px solid darken($light-gray-color, 15%);
  outline: 0;
  box-shadow: none;
}

.sebm-google-map-container {
  height: 300px;
  width: 100%;
}

.parallax-section {
  .content-section {
    background-image: url('/assets/images/demo-img-4.jpg');
  }
}

.clickable {
  cursor: pointer;
}

app-form-dialog {
  width: 400px;
  height: 600px;
}

iframe {
  border: 0;
}
