<!-- ========== HEADER ========== -->
<section class="parallax-section">
  <section class="content-section black-grad" appParallax>
    <div class="container">
      <div class="row text-center">
        <header class="section-title page-title mbn">
          <h6 class="small-title">{{ 'contactPage.getInTouch' | translate }}</h6>
          <h1 class="main-title">{{ 'contactPage.title' | translate }}</h1>
          <p>{{ 'contactPage.mainDescription' | translate }}.</p>
        </header>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.primary-grad -->
</section>
<!-- /.parallax-section -->

<!-- ========== INFO ========== -->
<section class="content-section">
  <div class="container">
    <div class="row">
        <header class="section-title text-center">
        <h6 class="small-title">{{ 'contactPage.actionTitle' | translate }}</h6>
      </header>
      <div class="col-md-6 clickable" (click)="showForm = !showForm">
        <div class="feature-box-3 text-center">
          <i class="icon ion-ios-cube"></i>
          <h4>{{ 'contactPage.sales' | translate }}</h4>
          <p>{{ 'contactPage.salesDescription' | translate }}</p>
        </div>
        <!-- /.feature-box -->
      </div>
      <!-- /.col-md-6 -->

      <div class="col-md-6 clickable" (click)="navigateToGithub()">
        <div class="feature-box-3 text-center">
          <i class="icon ion-ios-chatboxes"></i>
          <h4>{{ 'contactPage.support' | translate }}</h4>
          <p>{{ 'contactPage.supportDescription' | translate }}</p>
        </div>
        <!-- /.feature-box -->
      </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- ========== INFO ========== -->
<section class="content-section">
  <div class="container">

    <div class="row" *ngIf="showForm">
      <iframe src="https://bigsky.formstack.com/forms/edi_contact_form-v3" title="EDI Contact Form" width="100%" height="1650px"></iframe>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.content-section -->

<!-- ========== MAP SECTION ========== -->
<sebm-google-map [zoomControl]="false" [disableDefaultUI]="false" [styles]="mapStyle"
                 [mapDraggable]="false" [disableDoubleClickZoom]="false" [zoom]="11"
                 [scrollwheel]="false" [latitude]="lat" [longitude]="lng"></sebm-google-map>
