<div class="main-wrapper">
  <div class="main">
    <!-- ========== HEADER ========== -->
    <section class="parallax-section header-section" appParallax>
      <section class="content-section black-grad">
        <div class="container">
          <div class="row text-center">
            <header class="section-title page-title mbn">
              <h6 class="small-title">{{ 'homePage.whatWeDo' | translate }}</h6>
              <h1 class="main-title">{{ 'homePage.weBuildTech' | translate }}</h1>
              <p>{{ 'homePage.weBuildTechDescription' | translate }}</p>
              <a routerLink="/contact" class="btn st-btn btn-rounded ">{{ 'contactPage.title' | translate }}</a>
            </header>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.primary-grad -->
    </section>
    <!-- /.parallax-section -->
    <!-- ========== INTRO SECTION ========== -->
    <section class="content-section">
      <div class="container">
        <div class="row">

          <header class="section-title text-center">
            <h6 class="small-title">{{ 'homePage.welcome' | translate }}</h6>
            <p class="sub-title">{{ 'homePage.welcomeDescription' | translate }}</p>
          </header>
          <!-- /.section-title -->

          <div class="col-md-4">
            <div class="feature-box text-center">
              <i class="icon ion-ios-laptop"></i>
              <h4>{{ 'homePage.websiteDesign' | translate }}</h4>
              <p>{{ 'homePage.websiteDesignDescription' | translate }}</p>
              <i class="bg-icon ion-ios-laptop"></i>
            </div>
            <!-- /.feature-box -->
          </div>
          <!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="feature-box text-center">
              <i class="icon ion-ios-cube"></i>
              <h4>{{ 'homePage.customSoftware' | translate }}</h4>
              <p>{{ 'homePage.customSoftwareDescription' | translate }}</p>
              <i class="bg-icon ion-ios-cube"></i>
            </div>
            <!-- /.feature-box -->
          </div>
          <!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="feature-box text-center">
              <i class="icon ion-ios-chatboxes"></i>
              <h4>{{ 'homePage.consulting' | translate }}</h4>
              <p>{{ 'homePage.consultingDescription' | translate }}</p>
              <i class="bg-icon ion-ios-chatboxes"></i>
            </div>
            <!-- /.feature-box -->
          </div>
          <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.content-section -->
    <!-- ========== SERVICES IN BLACK SECTION ========== -->
    <!-- ========== HALF IMAGE SECTION WITH SERVICES ========== -->
    <section class="parallax-section services-section" appParallax [config]="parallaxConfig">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 parallax-image">

          </div>
          <!-- /.col-md-5 -->
          <div class="col-md-7 black-half pt80 pb80">
            <header class="section-title">
              <h6 class="small-title">Our services.</h6>
              <h1 class="main-title">We create stunning websites quickly.</h1>
              <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
            </header>
            <!-- /.section-title -->

            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="feature-box-2">
                  <div class="box-left">
                    <i class="icon ion-ios-easel"></i>
                  </div>
                  <!-- /.box-left -->
                  <div class="box-right">
                    <h5>Professional Design</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua.</p>
                  </div>
                  <!-- /.box-right -->
                </div>
                <!-- /.feature-box-2 -->
              </div>
              <!-- /.col-md-6 col-sm-6 -->

              <div class="col-md-6 col-sm-6">
                <div class="feature-box-2">
                  <div class="box-left">
                    <i class="icon ion-ios-expand"></i>
                  </div>
                  <!-- /.box-left -->
                  <div class="box-right">
                    <h5>Fully Responsive</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua.</p>
                  </div>
                  <!-- /.box-right -->
                </div>
                <!-- /.feature-box-2 -->
              </div>
              <!-- /.col-md-6 col-sm-6 -->

              <div class="col-md-6 col-sm-6">
                <div class="feature-box-2">
                  <div class="box-left">
                    <i class="icon ion-ios-heart"></i>
                  </div>
                  <!-- /.box-left -->
                  <div class="box-right">
                    <h5>Easy to use</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua.</p>
                  </div>
                  <!-- /.box-right -->
                </div>
                <!-- /.feature-box-2 -->
              </div>
              <!-- /.col-md-6 col-sm-6 -->

              <div class="col-md-6 col-sm-6">
                <div class="feature-box-2">
                  <div class="box-left">
                    <i class="icon ion-ios-film"></i>
                  </div>
                  <!-- /.box-left -->
                  <div class="box-right">
                    <h5>Video Tutorials</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua.</p>
                  </div>
                  <!-- /.box-right -->
                </div>
                <!-- /.feature-box-2 -->
              </div>
              <!-- /.col-md-6 col-sm-6 -->
            </div>
            <!-- /.row -->

          </div>
          <!-- /.col-md-7 black-half -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <section class="parallax-section possibilities-section" appParallax>
      <section class="content-section primary-grad">
        <div class="container">
          <div class="row text-center">
            <header class="section-title mbn">
              <h6 class="small-title">Easy to use!</h6>
              <h1 class="main-title">Endless Possibilities.</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
              <a href="https://themeforest.net/cart/configure_before_adding/18016228?license=regular&ref=salttechno&size=source&support=bundle_12month"
                class="btn st-btn btn-rounded " target="_blank">Buy Now</a>
            </header>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.primary-grad -->
    </section>
    <!-- /.parallax-section -->
  </div>

</div>
