<div class="main-wrapper">
  <div class="main">
    <!-- ========== INTRO SECTION ========== -->
    <section class="content-section">
      <div class="container">
        <div class="row">

          <header class="section-title text-center">
            <h6 class="small-title">Welcome to Options!</h6>
            <h1 class="main-title">Website Designers.</h1>
            <p class="sub-title">We are young team of highly experienced developers!</p>
          </header>
          <!-- /.section-title -->

          <div class="col-md-4">
            <div class="feature-box text-center">
              <i class="icon ion-chatboxes"></i>
              <h4>Fully Responsive</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
              <i class="bg-icon ion-chatboxes"></i>
            </div>
            <!-- /.feature-box -->
          </div>
          <!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="feature-box text-center">
              <i class="icon ion-cube"></i>
              <h4>Modern Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
              <i class="bg-icon ion-cube"></i>
            </div>
            <!-- /.feature-box -->
          </div>
          <!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="feature-box text-center">
              <i class="icon ion-ios-pie"></i>
              <h4>SEO Friendly</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
              <i class="bg-icon ion-ios-pie"></i>
            </div>
            <!-- /.feature-box -->
          </div>
          <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /.content-section -->

  </div>

</div>
