.header-section {
  background-image: url('./assets/images/slider/notgeneric_bg3.jpg');
}

.services-section {
  background-image: url('./assets/images/slider/creative_4.jpg');
}

.possibilities-section {
  background-image: url('./assets/images/demo-img-3.jpg');
}

.main-wrapper {
  .main {
    .welcome-logo {
      .logo {
        img {
          width: 400px;
        }
      }
    }
  }
}
