@mixin header-theme($white-color, $black-color, $primary-color) {
  .navbar {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    background: $white-color;
    .navbar-nav{
        > li > a{
            color: $black-color;
        }
    }
    .nav > li > a:hover, .nav > li > a:focus{
        background: $primary-color;
        color: $white-color;
    }
  }
}
