@import './../../../styles/variables';

nav {
    z-index: 500;
}

.navbar {
  padding: $nav-bar-padding 2 * $nav-bar-padding;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  background: $white-color;

  .lang-buttons {
      text-align: center;
  }

  .brand {
      float: right;
      img {
          height: $navbar-height;  // this is for the box shadow we add
          width: 250px;
      }
  }

  .navbar-nav {
      > li > a{
          color: $black-color;
      }
  }
  .nav > li > a:hover, .nav > li > a:focus{
      background: $primary-color;
      color: $white-color;
  }
}


