<header>
  <!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
  <nav class="navbar navbar-fixed-top" fxShow="false" fxShow.gt-sm fxLayout="row" fxLayoutAlign="space-between center">
    <div class="lang-buttons" fxFlex="100px">
      <img [mdMenuTriggerFor]="menu" class="edi-lang" src="{{lang.getCurrentImageStr()}}">
      <md-menu y-position="below" x-position="after" overlapTripper="true" #menu="mdMenu">
        <button md-menu-item (click)="langClicked('en_GB')">
          <img class="edi-lang" src="./assets/flags-iso/flat/32/GB.png">
        </button>
        <button md-menu-item (click)="langClicked('en_US')">
          <img class="edi-lang" src="./assets/flags-iso/flat/32/US.png">
        </button>
      </md-menu>
    </div>
    <div fxFlex="60" fxLayout="row">
      <a md-button fxFlex="100px" routerLink="/home" routerLinkActive="active">{{'homePage.title' | translate}}</a>
      <div fxFlex="100px">
        <a md-button [mdMenuTriggerFor]="serviceMenu">
          {{'servicePage.title' | translate}}
        </a>
        <md-menu y-position="below" overlapTripper="true" #serviceMenu="mdMenu">
          <button md-menu-item routerLink="/services/website-design"> {{'servicePage.customWebsites.fullTitle' | translate}} </button>
          <button md-menu-item routerLink="/services/application-development"> {{'servicePage.appDev.fullTitle' | translate}} </button>
          <button md-menu-item routerLink="/services/technical-consulting"> {{'servicePage.consulting.fullTitle' | translate}} </button>
        </md-menu>
      </div>
      <a md-button fxFlex="100px" routerLink="/about" routerLinkActive="active">{{'aboutPage.title' | translate}}</a>
      <a *ngIf="authService.isLoggedIn" (click)="logout()" md-button fxFlex="100px">{{'loginPage.logout' | translate}}</a>
      <a *ngIf="authService.isLoggedIn" routerLink="/admin" md-button fxFlex="100px">{{'adminPage.shortTitle' | translate}}</a>
    </div>
    <div fxFlex>
      <a class="brand" routerLink="/">
        <img src="./assets/logos/EDI-Black-Logo-800px.png" alt="{{'appTitle' | translate}}">
      </a>
    </div>
  </nav>
</header>
