<header>
  <!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
  <nav class="navbar navbar-fixed-top" fxShow="false" fxShow.gt-sm fxLayout="row" fxLayoutAlign="space-between center">
    <div class="lang-buttons" fxFlex="100px">
      <img [mdMenuTriggerFor]="menu" class="edi-lang" alt="Angular">
      <md-menu y-position="below" x-position="after" overlapTripper="true" #menu="mdMenu">
        <button md-menu-item (click)="langClicked('en_GB')">
          <img class="edi-lang" src="./assets/flags-iso/flat/32/GB.png" alt="Angular">
        </button>
        <button md-menu-item (click)="langClicked('en_US')">
          <img class="edi-lang" src="./assets/flags-iso/flat/32/US.png" alt="Angular">
        </button>
      </md-menu>
    </div>
    <div fxFlex="60">
      <a md-button routerLink="/home" routerLinkActive="active">{{'homePage.title' | translate}}</a>
      <a md-button routerLink="/about" routerLinkActive="active">{{'aboutPage.title' | translate}}</a>
    </div>
    <div fxFlex>
      <a class="brand" routerLink="/">
        <img src="./assets/logos/EDI-Black-Logo-800px.png" alt="{{'appTitle' | translate}}">
      </a>
    </div>
  </nav>
</header>
