//
//  This brings in the material theme
//
@import '~@angular/material/core/theming/all-theme';
$md-font-family: 'Questrial', 'Helvetica Neue', sans-serif;
@import '~@angular/material/core/style/_variables';

//
// Bring in the widget level themes to override components
//
@import '../app/layout/header/_header.theme';
@import '../app/shared/component/tab-component/_tab-component.component';

@mixin global-material-modifications($theme) {

  .md-menu-content {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }

  .md-dialog-container {
    background-color: white;
  }


  [md-menu-item] {
    line-height: inherit;
  }


  //
  // Call the mixins here
  //
  @include header-theme($theme);
  @include tab-overrides($theme)
}
