<md-tab-group fxFlex>
  <md-tab fxFlex>
    <template md-tab-label>
      <a><span class="icon ion-ios-home-outline"></span> History</a>
    </template>
    <div class="tab-content">
      Content 1
    </div>
  </md-tab>
  <md-tab label="Tab 2" fxFlex>
    <div class="tab-content">
      Content 2
    </div>
  </md-tab>
</md-tab-group>
<div class="tab-style-5">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home-5" aria-controls="home-5" role="tab" data-toggle="tab"><span class="icon ion-ios-home-outline"></span> History</a></li>
    <li role="presentation"><a href="#profile-5" aria-controls="profile-5" role="tab" data-toggle="tab"><span class="icon ion-ios-body-outline"></span> Vision</a></li>
    <li role="presentation"><a href="#messages-5" aria-controls="messages-5" role="tab" data-toggle="tab"><span class="icon ion-ios-email-outline"></span> Mission</a></li>
  </ul>
  <!-- end nav-tabs -->

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile-5">
      <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
        dolor sit amet.</p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="messages-5">
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum.</p>
    </div>
  </div>
  <!-- end tab-content -->
</div>
