<!-- ========== FOOTER ========== -->
<footer class="footer">
  <div class="container top-container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h6>About Us</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-4 col-sm-6">
        <h6>Contact Us</h6>
        <p><i class="ion-ios-location"></i> A902, Brighton, East Sussex, England.</p>
        <p><i class="ion-email"></i> support@themesease.com</p>
        <p><i class="ion-ios-telephone"></i> +1 (123) 456-7890</p>
      </div>
      <!-- /.col-md-4 col-sm-6 -->

      <div class="col-md-4 col-sm-12">
        <h6>Follow Us</h6>
        <a href="#" class="social-link"><i class="ion-social-facebook"></i></a>
        <a href="#" class="social-link"><i class="ion-social-twitter"></i></a>
        <a href="#" class="social-link"><i class="ion-social-instagram"></i></a>
        <a href="#" class="social-link"><i class="ion-social-whatsapp"></i></a>
        <a href="#" class="social-link"><i class="ion-social-googleplus"></i></a>
        <a href="#" class="social-link"><i class="ion-social-dribbble"></i></a>
        <a href="#" class="social-link"><i class="ion-social-tumblr"></i></a>
      </div>
      <!-- /.col-md-4 col-sm-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="col-sm-6">&copy; Salt Technologies  | 2016</p>
        <div class="col-sm-6 text-right">
          <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.footer-bottom -->
</footer>
<!-- /.footer -->
