<!-- ========== BLOGS GRID ========== -->
<div class="container-fluid">
  <div class="row blogs-grid">
    <div class="col-md-3 col-sm-6 latest-post">
      <img src="./assets/images/demo-img-1.jpg" alt="" class="img-responsive">
      <div class="blog-info">
        <h6><a>Why should you buy 'Options'?</a></h6>
        <p class="blog-meta">2 days ago | admin | 2 comments</p>
        <p class="blog-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.</p>
        <a class="pull-right">read more &rarr;</a>
      </div>
      <!-- /.blog-info -->
    </div>
    <!-- /.col-md-3 col-sm-6 -->
    <div class="col-md-3 col-sm-6 latest-post">
      <img src="./assets/images/demo-img-2.jpg" alt="" class="img-responsive">
      <div class="blog-info">
        <h6><a>We love ThemeForest!</a></h6>
        <p class="blog-meta">6 days ago | Sujay | 8 comments</p>
        <p class="blog-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.</p>
        <a class="pull-right">read more &rarr;</a>
      </div>
      <!-- /.blog-info -->
    </div>
    <!-- /.col-md-3 col-sm-6 -->
    <div class="col-md-3 col-sm-6 latest-post">
      <img src="./assets/images/demo-img-3.jpg" alt="" class="img-responsive">
      <div class="blog-info">
        <h6><a>'Options' creates endless possibilities.</a></h6>
        <p class="blog-meta">22 May, 16 | Shashwati | 20 comments</p>
        <p class="blog-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.</p>
        <a class="pull-right">read more &rarr;</a>
      </div>
      <!-- /.blog-info -->
    </div>
    <!-- /.col-md-3 col-sm-6 -->
    <div class="col-md-3 col-sm-6 latest-post">
      <img src="./assets/images/demo-img-4.jpg" alt="" class="img-responsive">
      <div class="blog-info">
        <h6><a>You need an awesome website.</a></h6>
        <p class="blog-meta">18 May, 16 | Hardika | 22 comments</p>
        <p class="blog-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.</p>
        <a class="pull-right">read more &rarr;</a>
      </div>
      <!-- /.blog-info -->
    </div>
    <!-- /.col-md-3 col-sm-6 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->

<!-- ========== FOOTER ========== -->
<footer class="footer">
  <div class="container top-container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h6>{{'footer.aboutUs' | translate}}</h6>
        <p>{{'footer.aboutUsDescription' | translate}}</p>
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-4 col-sm-6">
        <h6>{{'footer.contactUs' | translate}}</h6>
        <p><i class="ion-ios-map"></i> {{'footer.address' | translate}}</p>
        <p><i class="ion-ios-mail"></i> {{'footer.email' | translate}}</p>
        <p><i class="ion-ios-phone-portrait"></i> {{'footer.phone' | translate}}</p>
      </div>
      <!-- /.col-md-4 col-sm-6 -->

      <div class="col-md-4 col-sm-12">
        <h6>{{'footer.followUs' | translate}}</h6>
        <a href="#" class="social-link"><i class="ion-logo-facebook"></i></a>
        <a href="#" class="social-link"><i class="ion-logo-twitter"></i></a>
        <a href="#" class="social-link"><i class="ion-logo-instagram"></i></a>
        <a href="#" class="social-link"><i class="ion-logo-googleplus"></i></a>
      </div>
      <!-- /.col-md-4 col-sm-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayout.sm="column">
          <div fxFlex>
            <p>{{'footer.copyright' | translate}}  | {{getCurrentYear()}}</p>
          </div>
          <div fxFlex class="privacy">
            <a (click)="openLawyerDialog('privacy')">{{'footer.privacyPolicy' | translate}}</a> | <a (click)="openLawyerDialog('tos')">{{'footer.termsOfService' | translate}}</a> | <a routerLink="/admin">{{'footer.admin' | translate}}</a>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.footer-bottom -->
</footer>
<!-- /.footer -->
