.header-section {
  background-image: url('/assets/images/about/sax_guy-2000px.jpg');
  background-position-y: -300px;
}

.compass-section {
  background-image: url('/assets/images/about/compass_1000px.jpg');
}
