/*--------------------------------------------------------------
# 1. IMPORT DEFAULT BOOTSTRAP
--------------------------------------------------------------*/
$bootstrap-sass-asset-helper: false;

$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../node_modules/bootstrap-sass/assets/fonts/bootstrap/");
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*--------------------------------------------------------------
# 2. IMPORT MATERIAL LIBRARY
--------------------------------------------------------------*/

$md-font-family: 'Questrial', 'Helvetica Neue', sans-serif;
@import '~@angular/material/core/style/_variables';
@import '~@angular/material/core/theming/all-theme';
@import './styles/material-theme';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-red);
$accent:  mat-palette($mat-grey, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include global-material-modifications($theme);


/*--------------------------------------------------------------
# 3. IMPORT GLOBAL STYLES
--------------------------------------------------------------*/
// Google Font
@import url('https://fonts.googleapis.com/css?family=Poppins:600|Questrial|Material+Icons');


@import './styles/main';

